body {background-color: blue;
}
h1 {text-align: center;
  font-size: 35px;

}

#menu{
  float:left;
  margin-right: 20px;
}

#catrito {
 border-style: solid;
border-color: black;
float:right;
margin-right: 100px;
}
