body {
  background: linear-gradient(to bottom,white,pink,red,darkred,black);
}
#morepics {
margin-left: 7%;
margin-right: 7%;
}
#photoalbum {
  margin-left:7% ;
  margin-right: auto;
}
#lastpics {
  margin-left: 5%;
}
p {
  text-align: center;
  font-size: 15px;
  font-family: sans-serif;
}
h1 {
  text-align: center;
  text-decoration: underline;
}
#footer {
  text-align: center;
  background-color: black;
 width: 700px;
 margin-left: auto;
 margin-right: auto;
 height: 20px;
}
